/*# sourceMappingURL=materialdesignicons.css.map */
/** 2.16 Thumbnail Addons */
.thumbnail-classic, .thumbnail-zoe, .thumbnail-winston, .thumbnail-josip, .thumbnail-janes, .thumbnail-apollo, .thumbnail-terry, .thumbnail-rayen, .thumbnail-classic > figure, .thumbnail-zoe > figure, .thumbnail-winston > figure, .thumbnail-josip > figure, .thumbnail-janes > figure, .thumbnail-apollo > figure, .thumbnail-terry > figure, .thumbnail-rayen > figure {
  position: relative;
  display: block; }

.thumbnail-classic img, .thumbnail-zoe img, .thumbnail-winston img, .thumbnail-josip img, .thumbnail-janes img, .thumbnail-apollo img, .thumbnail-terry img, .thumbnail-rayen img, .thumbnail-classic figure img, .thumbnail-zoe figure img, .thumbnail-winston figure img, .thumbnail-josip figure img, .thumbnail-janes figure img, .thumbnail-apollo figure img, .thumbnail-terry figure img, .thumbnail-rayen figure img {
  width: 100%;
  height: auto;
  transition: .35s;
  will-change: transform; }

.thumbnail-classic figure figcaption, .thumbnail-zoe figure figcaption, .thumbnail-winston figure figcaption, .thumbnail-josip figure figcaption, .thumbnail-janes figure figcaption, .thumbnail-apollo figure figcaption, .thumbnail-terry figure figcaption, .thumbnail-rayen figure figcaption, .thumbnail-classic figcaption, .thumbnail-zoe figcaption, .thumbnail-winston figcaption, .thumbnail-josip figcaption, .thumbnail-janes figcaption, .thumbnail-apollo figcaption, .thumbnail-terry figcaption, .thumbnail-rayen figcaption {
  position: absolute; }

.thumbnail {
  transition: .3s;
  border: none;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15); }

a.thumbnail:hover {
  box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.15); }

.thumbnail-classic > img,
.thumbnail-classic > figure > img {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.15); }

.thumbnail-classic > figure figcaption,
.thumbnail-classic > figcaption {
  top: 50%;
  left: 0;
  right: 0;
  padding: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.thumbnail-classic-title {
  position: absolute;
  top: 50%;
  left: 15px;
  right: 15px;
  z-index: 9;
  padding: 12px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: #fff;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.thumbnail-classic-desc {
  padding: 6px;
  opacity: 0;
  color: #fff;
  background: #212121;
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease; }

.tablet .thumbnail-classic,
.thumbnail-classic:hover {
  z-index: 1; }
  .tablet .thumbnail-classic > img,
  .tablet .thumbnail-classic > figure > img,
  .thumbnail-classic:hover > img,
  .thumbnail-classic:hover > figure > img {
    box-shadow: 0 5px 23px 0 rgba(0, 0, 0, 0.15);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    will-change: contents; }
  .tablet .thumbnail-classic > figure figcaption,
  .tablet .thumbnail-classic > figcaption,
  .thumbnail-classic:hover > figure figcaption,
  .thumbnail-classic:hover > figcaption {
    margin-top: 30px; }
  .tablet .thumbnail-classic .thumbnail-classic-title,
  .thumbnail-classic:hover .thumbnail-classic-title {
    margin-bottom: 14px;
    top: 0; }
  .tablet .thumbnail-classic .thumbnail-classic-desc,
  .thumbnail-classic:hover .thumbnail-classic-desc {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }

.thumbnail-zoe {
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: 0.3s box-shadow ease;
  -o-transition: 0.3s box-shadow ease;
  transition: 0.3s box-shadow ease; }
  .thumbnail-zoe,
  .thumbnail-zoe > figure {
    overflow: hidden; }
  .thumbnail-zoe figcaption {
    width: 100%;
    top: auto;
    bottom: 0;
    height: 60px;
    padding-left: 1.3em;
    padding-right: 1.3em;
    background: #fff; }
  .thumbnail-zoe-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    margin-top: 25px;
    font-weight: 700; }
  .thumbnail-zoe .list-inline {
    text-align: center;
    margin-top: 20px; }
    .thumbnail-zoe .list-inline li {
      vertical-align: middle; }
      .thumbnail-zoe .list-inline li a {
        -webkit-transition: 0.3s all ease;
        -o-transition: 0.3s all ease;
        transition: 0.3s all ease; }
        .thumbnail-zoe .list-inline li a:hover {
          color: #55bbeb; }
      .thumbnail-zoe .list-inline li + li {
        margin-left: 8px; }
  .thumbnail-zoe:hover .list-inline li,
  .thumbnail-zoe:hover .thumbnail-zoe-title,
  .thumbnail-zoe:hover figcaption {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .thumbnail-zoe:hover .thumbnail-zoe-title {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s; }
  .thumbnail-zoe:hover .list-inline li:nth-child(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s; }
  .thumbnail-zoe:hover .list-inline li:nth-child(2) {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s; }
  .thumbnail-zoe:hover .list-inline li:first-child {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  @media (min-width: 1200px) {
    .thumbnail-zoe {
      box-shadow: none; }
      .thumbnail-zoe .list-inline li,
      .thumbnail-zoe .thumbnail-zoe-title,
      .thumbnail-zoe figcaption {
        -webkit-transition: transform 0.3s;
        -o-transition: transform 0.3s;
        transition: transform 0.3s;
        -webkit-transform: translate3d(0, 200%, 0);
        transform: translate3d(0, 200%, 0); }
      .thumbnail-zoe figcaption {
        height: 75px; }
      .thumbnail-zoe .list-inline {
        float: right;
        margin-top: 26px; }
      .thumbnail-zoe:hover {
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.15); }
        .thumbnail-zoe:hover img,
        .thumbnail-zoe:hover figure > img {
          -webkit-transform: translate3d(0, -40px, 0);
          transform: translate3d(0, -40px, 0); } }

.thumbnail-winston figure figcaption,
.thumbnail-winston figcaption {
  position: static;
  width: 100%; }

.thumbnail-winston-title {
  padding: 20px 5px;
  margin-bottom: 0;
  font-weight: 300;
  color: #fff;
  text-align: center;
  background: #212121;
  -webkit-transition: transform 0.35s, opacity 0.35s;
  -o-transition: transform 0.35s, opacity 0.35s;
  transition: transform 0.35s, opacity 0.35s; }

.thumbnail-winston p {
  display: inline-block;
  margin: 0 0 0.55em;
  padding: 0.4em 1em;
  font-weight: 500;
  text-transform: none;
  background: #fff;
  -webkit-transition: transform 0.35s, opacity 0.35s;
  -o-transition: transform 0.35s, opacity 0.35s;
  transition: transform 0.35s, opacity 0.35s; }
  .thumbnail-winston p:first-child {
    transition-delay: 0s; }
  .thumbnail-winston p:nth-of-type(2) {
    transition-delay: 0.05s; }
  .thumbnail-winston p:nth-of-type(3) {
    transition-delay: 0.1s; }

.thumbnail-winston:hover p,
.thumbnail-winston:hover .thumbnail-winston-title {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

@media (min-width: 1200px) {
  .thumbnail-winston,
  .thumbnail-winston > figure {
    overflow: hidden; }
  .thumbnail-winston figure figcaption,
  .thumbnail-winston figcaption {
    position: absolute;
    top: 15%;
    left: 6%;
    width: auto; }
  .thumbnail-winston p {
    opacity: 0;
    -webkit-transform: translate3d(-360px, 0, 0);
    transform: translate3d(-360px, 0, 0); }
  .thumbnail-winston-title {
    padding: 0.1em 0.5em;
    margin-bottom: 18px;
    text-align: left;
    opacity: 0;
    -webkit-transform: translate3d(0, -360px, 0);
    transform: translate3d(0, -360px, 0); } }

.thumbnail-josip figure figcaption,
.thumbnail-josip figcaption {
  position: static;
  width: 100%;
  height: 60px;
  padding: 3px 5%;
  text-align: left;
  text-transform: none;
  vertical-align: middle;
  background: #212121;
  backface-visibility: hidden;
  -webkit-transition: 0.3s, opacity 0.1s 0.3s;
  -o-transition: 0.3s, opacity 0.1s 0.3s;
  transition: 0.3s, opacity 0.1s 0.3s; }

.thumbnail-josip-title, .thumbnail-josip p {
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px; }

.thumbnail-josip-title {
  color: #fff; }

.thumbnail-josip:hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: transform 0.3s, opacity 0.1s;
  -o-transition: transform 0.3s, opacity 0.1s;
  transition: transform 0.3s, opacity 0.1s; }

@media (min-width: 992px) {
  .thumbnail-josip,
  .thumbnail-josip > figure {
    overflow: hidden; }
  .thumbnail-josip figure figcaption,
  .thumbnail-josip figcaption {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    height: 85px;
    padding: 17px 5%;
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%); }
  .thumbnail-josip:hover img {
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px); } }

.tablet .thumbnail-josip figcaption {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition: transform 0.3s, opacity 0.1s;
  -o-transition: transform 0.3s, opacity 0.1s;
  transition: transform 0.3s, opacity 0.1s; }

.thumbnail-janes {
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: box-shadow 0.4s;
  -o-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s; }
  .thumbnail-janes,
  .thumbnail-janes > figure {
    overflow: hidden; }
  .thumbnail-janes figcaption {
    position: static;
    padding: 20px;
    top: 0;
    left: 0;
    height: 100%;
    text-align: left;
    background: #fff;
    backface-visibility: hidden;
    -webkit-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s; }
  .thumbnail-janes p {
    margin-top: 5px;
    margin-bottom: 10px;
    max-height: 50px;
    overflow: hidden; }
  .thumbnail-janes:hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  @media (min-width: 1200px) {
    .thumbnail-janes {
      box-shadow: none; }
      .thumbnail-janes figcaption {
        position: absolute;
        padding: 25px 30px 30px 30px;
        width: 101%;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%); }
      .thumbnail-janes p {
        max-height: 75px;
        margin-top: 15px;
        margin-bottom: 15px; }
      .thumbnail-janes:hover {
        box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15); }
        .thumbnail-janes:hover img {
          -webkit-transform: translateX(25%);
          transform: translateX(25%); } }
  @media (min-width: 1800px) {
    .thumbnail-janes figcaption {
      width: 50%; }
    .thumbnail-janes p {
      max-height: none;
      margin-top: 18px;
      margin-bottom: 18px; } }

.thumbnail-apollo {
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15); }
  .thumbnail-apollo figure figcaption,
  .thumbnail-apollo figcaption {
    position: static;
    padding: 15px 20px 15px;
    text-align: left;
    transition: .3s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; }
  .thumbnail-apollo p {
    margin-top: 5px;
    margin-bottom: 0;
    max-height: 45px;
    overflow: hidden; }
  .thumbnail-apollo .icon-xxs {
    font-size: 18px;
    line-height: 18px; }
  @media (min-width: 768px) {
    .thumbnail-apollo {
      box-shadow: none; }
      .thumbnail-apollo img {
        opacity: 1;
        -webkit-transition: opacity 0.35s, transform 0.35s;
        -o-transition: opacity 0.35s, transform 0.35s;
        transition: opacity 0.35s, transform 0.35s;
        -webkit-transform: scale3d(1.05, 1.05, 1);
        transform: scale3d(1.05, 1.05, 1); }
      .thumbnail-apollo:before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.5);
        content: '';
        -webkit-transition: transform 0.6s;
        -o-transition: transform 0.6s;
        transition: transform 0.6s;
        -webkit-transform: scale3d(2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -110%, 0);
        transform: scale3d(2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -110%, 0); }
      .thumbnail-apollo:hover img {
        opacity: 0.5;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1); }
      .thumbnail-apollo:hover figcaption {
        opacity: 1; }
      .thumbnail-apollo:hover:before {
        -webkit-transform: scale3d(2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 110%, 0);
        transform: scale3d(2, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 110%, 0); }
      .thumbnail-apollo,
      .thumbnail-apollo figure {
        overflow: hidden;
        background: #55bbeb; }
      .thumbnail-apollo figure figcaption,
      .thumbnail-apollo figcaption {
        position: absolute;
        top: 50%;
        width: 100%;
        padding: 0 8%;
        margin-top: 0;
        color: #fff;
        opacity: 0;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%); }
      .thumbnail-apollo p {
        max-height: none;
        margin-top: 18px;
        margin-bottom: 18px; } }
  @media (min-width: 768px) {
    .thumbnail-apollo.thumbnail-apollo-dark:hover img {
      opacity: .2; } }

.thumbnail-apollo.thumbnail-apollo-bordered {
  border: 1px solid #d9d9d9;
  box-shadow: none; }
  .thumbnail-apollo.thumbnail-apollo-bordered figure figcaption,
  .thumbnail-apollo.thumbnail-apollo-bordered figcaption {
    border-top: 1px solid #d9d9d9; }
  @media (min-width: 768px) {
    .thumbnail-apollo.thumbnail-apollo-bordered figure figcaption,
    .thumbnail-apollo.thumbnail-apollo-bordered figcaption {
      border-top: none; } }
  @media (min-width: 1200px) {
    .thumbnail-apollo.thumbnail-apollo-bordered {
      width: 99%; } }
  @media (min-width: 1800px) {
    .thumbnail-apollo.thumbnail-apollo-bordered {
      width: 96%; } }

.tablet .thumbnail-apollo {
  box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.15); }
  .tablet .thumbnail-apollo figure figcaption,
  .tablet .thumbnail-apollo figcaption {
    position: static;
    padding: 15px 20px 15px;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    color: #191919; }
  .tablet .thumbnail-apollo img {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); }
  .tablet .thumbnail-apollo:before {
    display: none; }
  .tablet .thumbnail-apollo, .tablet .thumbnail-apollo figure {
    background: transparent; }

.thumbnail-terry.thumbnail-border-none img {
  border-radius: 0; }

.thumbnail-terry:before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 5px;
  background: #000;
  opacity: 0;
  -webkit-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
  z-index: 2; }

.thumbnail-terry figcaption {
  position: relative;
  top: -1px;
  width: 100%;
  padding: 20px 15px;
  text-align: center;
  text-transform: none;
  vertical-align: middle;
  background: #434345;
  backface-visibility: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-transition: 0.35s all ease;
  -o-transition: 0.35s all ease;
  transition: 0.35s all ease;
  z-index: 1;
  will-change: transform; }

.thumbnail-terry img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px; }

.thumbnail-terry-title, .thumbnail-terry-desc {
  color: #fff;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 5px; }

.thumbnail-terry-desc {
  display: none; }

@media (min-width: 992px) {
  .thumbnail-terry:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
    will-change: transform; }
  .thumbnail-terry,
  .thumbnail-terry > figure {
    overflow: hidden; }
  .thumbnail-terry-desc, .thumbnail-terry:before {
    display: block; }
  .thumbnail-terry img {
    border-radius: 5px; }
  .thumbnail-terry figcaption {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 30px 15px;
    background: transparent;
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
  .thumbnail-terry .btn, .thumbnail-terry .pagination-classic > li > a, .thumbnail-terry
  .pagination-classic > li > span {
    opacity: 0;
    -webkit-transform: translateY(100%) scale(0.8);
    transform: translateY(100%) scale(0.8); }
  .thumbnail-terry:hover .btn, .thumbnail-terry:hover .pagination-classic > li > a, .thumbnail-terry:hover
  .pagination-classic > li > span, .thumbnail-terry:hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1); }
  .thumbnail-terry:hover:before {
    opacity: 0.25; } }

.tablet .thumbnail-terry .btn, .tablet .thumbnail-terry .pagination-classic > li > a, .tablet .thumbnail-terry
.pagination-classic > li > span, .tablet .thumbnail-terry figcaption {
  opacity: 1;
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1); }

.tablet .thumbnail-terry:before {
  opacity: 0.25; }

.thumbnail-rayen {
  position: relative; }
  .thumbnail-rayen:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #191919;
    opacity: 0;
    -webkit-transition: 0.35s all ease;
    -o-transition: 0.35s all ease;
    transition: 0.35s all ease;
    z-index: 1; }
  .thumbnail-rayen figcaption {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    color: #fff;
    opacity: 0;
    -webkit-transform: translate(-50%, 100%) scale(0);
    transform: translate(-50%, 100%) scale(0);
    -webkit-transition: 0.35s all ease;
    -o-transition: 0.35s all ease;
    transition: 0.35s all ease;
    z-index: 2; }
  .thumbnail-rayen .icon:hover {
    color: #55bbeb;
    -webkit-transition: 0.35s color ease;
    -o-transition: 0.35s color ease;
    transition: 0.35s color ease; }
  .thumbnail-rayen:hover:before {
    opacity: 0.5; }
  .thumbnail-rayen:hover figcaption {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scale(1);
    transform: translate(-50%, -50%) scale(1); }

.tablet .thumbnail-rayen figcaption,
.mobile .thumbnail-rayen figcaption {
  left: 50%;
  top: 50%;
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1); }
  .tablet .thumbnail-rayen figcaption a .icon,
  .mobile .thumbnail-rayen figcaption a .icon {
    font-size: 26px;
    line-height: 26px; }

.tablet .thumbnail-rayen:before,
.mobile .thumbnail-rayen:before {
  opacity: 0.25; }
